
	 <beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
	<security:http auto-config="true" use-expressions="true">

		<security:intercept-url pattern="/viewproducts/**"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/UpdateProduct/**"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/EditCategory/**"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/supplierpage/**"
			access="hasRole('ROLE_ADMIN')" />

		<security:form-login login-page="/Login"
			default-target-url="/" login-processing-url="/perform_login"
			authentication-failure-url="/Login"
			authentication-success-forward-url="/login_session_attributes" />

		<security:logout logout-url="/perform_logout"
			invalidate-session="true" logout-success-url="/doout" />

		<security:csrf disabled="true" />

	</security:http>
	
	
	
	
  <authentication-manager>
	<authentication-provider>
	<jdbc-user-service data-source-ref="dataSource" 
	 users-by-username-query="select username,upassword,enabled from user where username=?" 
	authorities-by-username-query="select u1.username, u2.authority from user u1, userrole u2 where u1.uid = u2.id and u1.username =?"  />
	</authentication-provider>
	</authentication-manager>
	
	</beans:beans>
